.regist-input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  justify-content: center;
  align-items: center;
}


.regist-input-wrapper input{
    background-color: rgb(255, 255, 255);
    border: 1px solid #7D7A7A;
    box-shadow: 0px 2px 4px #7D7A7A;
    border-radius: 4px;
    height: 35px;
    padding: 2px;
    width: 100%;
}
.regist-input-wrapper input:focus{
    outline: none;
}